Cartopy==0.24.1
earthkit==0.11.2
earthkit-data==0.14.4
earthkit-plots==0.3.1
eccodes==2.41.0
ecmwf-opendata==0.3.22
geopandas==1.1.0
jupyter-book==2.0.0a3
jupyterlab==4.4.6
jupyterlab_myst==2.4.2
matplotlib==3.10.3
openmeteo_requests==1.5.0
openmeteo_sdk==1.20.1
pandas==2.3.0
planetary-computer==1.0.0
plotly==6.1.2
pystac==1.13.0
pystac-client==0.8.6
requests==2.32.4
requests-cache==1.2.1
retry-requests==2.0.0
urllib3==2.5.0
xarray==2025.6.1
