earthkit==0.11.2
ecmwf-opendata==0.3.22
jupyter-book==2.0.0a3
jupyterlab==4.4.4
jupyterlab_myst==2.4.2
openmeteo_requests==1.5.0
openmeteo_sdk==1.20.1
planetary-computer==1.0.0
pystac==1.13.0
pystac-client==0.8.6
requests==2.32.4
requests-cache==1.2.1
retry-requests==2.0.0
urllib3==2.5.0
xarray==2025.6.1
